.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
    overflow: visible;
}

.dragging
{
    border-style: dashed;
    border-width: 2px;
    border-color: var(--white);
}



.btn-register
{
    background-color: var(--blue);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 18px;
    color: var(--white-2);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem;
    width: 5rem;
}
.btn-login
{
    background-color: var(--green);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 18px;
    color: var(--white-2);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem;
    width: 5rem;
}

.login-box
{
    padding-top: 5rem;
    text-align: center;
}

.bg-dark
{
    background-color: var(--page-bgColor) !important;
}

.login-page
{
    background-color: var(--page-bgColor);
    height: 100vh;
}

.notification-box
{
    background-color: transparent;
    border: none;
    padding: 1rem;
    font-size: 12px;
    color: black;
    width: 100%;
    height: 100%;
}

.comment-wrap
{
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}
.comment-box
{
    position: absolute;
    background-color: transparent;
    border: none;
    padding: .5rem;
    font-size: 13px;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.printable
{
    width: 210mm;
    height: 297mm;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    box-shadow: none;
}
.printable table tr
{
    font-size: .5rem;
    background-color: transparent;
}
.printable table tr:hover
{
    background-color: transparent;
}
.printable table td
{
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    padding: .2rem;
}
.printable textarea:focus
{
    background-color: transparent;
}

.cam-logo-print
{
    position: absolute;
    top: 4.8rem;
    left: 65%;
}


@media print
{
    .cam-logo-print
    {
        position: absolute;
        top: 1%;
        left: 83%;
    }
    body * 
    {
        visibility: hidden;
        background-color: transparent;
    }

    .printable,
    .printable *
    {
        visibility: visible;
        background-color: transparent;
    }

    .printable
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

.printable table tr {
    border-bottom: 2px solid var(--page-txtColor-tint);
    padding: .1em;
  }
.printable thead tr {
    background-color:  transparent;
    padding: .1em;
  }


.printable table th,
.printable table td {
  padding: .3rem;
  text-align: center;
  font-size: 1rem;
}

.printable table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

.badge{
    font-size: 14px;
    color: var(--white-2);
    font-weight: bold;
    background-color: var(--yellow);
    padding: .3rem;
    border-radius: 5px;
}

.list-item
{
    padding: .2rem .5rem;
    font-size: 18px;
    font-weight: 300;
    margin: .5rem 0;
    border:none;
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.1);
}
.list-item:hover
{
    background-color: var(--page-content-bgColor-hover);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a, button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    background: none;
    cursor: pointer;
}

input, select {
    -webkit-appearance: none;
    margin-bottom: 12px;
}

button, input, textarea {
    border: none;
}

i {
    display: block;
    margin: 0 .5rem; 
}

body {
    font: 16px/1.5 "Lato", sans-serif;
}

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: var(--page-header-width);
    color: var(--page-txtColor);
    background: var(--page-content-bgColor);
}

/*In case you prefer an absolutely positioned header that covers the full page height, add these styles*/

/*body {
  position: relative;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}*/

/*remove these styles*/

/*.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}*/

.page-header nav {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header .logo {
    display: block;
    max-width: 120px;
    margin: 0 30px;
}

.page-header .toggle-mob-menu {
    display: none;
    margin-left: 5px;
    padding: 4px;
    background: var(--page-content-bgColor);
    border-radius: var(--border-radius);
}

.page-header .toggle-mob-menu i {
    fill: var(--black);
    transition: transform 0.2s;
}

.page-header .admin-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;
}

.page-header .admin-menu li:first-child {
    margin-bottom: 0px;
}

.page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
}

.page-header .admin-menu li>* {
    width: 100%;
    padding: 12px 15px;
}


.label-1 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    color: var(--page-header-headingColor);
}


.title-1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 24px;
    margin-top: 16px;
    color: var(--page-textColor);
}

.page-header .admin-menu i {
    width: 30px;
    height: 20px;
    fill: var(--page-txtColor);
    margin-right: 10px;
    transition: fill 0.2s;
}

.page-header .admin-menu a, .page-header .admin-menu button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    transition: background 0.2s, color 0.2s;
}

.page-header .admin-menu a:hover, .page-header .admin-menu a:focus, .page-header .admin-menu button:hover, .page-header .admin-menu button:focus {
    background: var(--page-content-bgColor-hover);
    color: var(--blue);
    outline: none;
}

.page-header .admin-menu a:hover i, .page-header .admin-menu a:focus i, .page-header .admin-menu button:hover i, .page-header .admin-menu button:focus i {
    fill: var(--blue);
}

/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-content {
    position: relative;
    left: var(--page-header-width);
    width: calc(100% - var(--page-header-width));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-txtColor);
    background: var(--page-bgColor);
}

.search-and-user {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 50px;
    align-items: center;
    background: var(--page-bgColor);
    margin-bottom: 30px;
}

.search-and-user form {
    position: relative;
}


input, select, textarea, .submit-btn{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    padding-left: 15px;
    color: var(--page-txtColor);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.card input, select, textarea{
    background-color: var(--page-bgColor);
}
.card-fluid input, select, textarea{
    background-color: var(--page-bgColor);
}

.search-and-user input{
    padding-right: 15px;
    background: var(--page-content-bgColor);
    padding-right: 60px;
}


select
{
    border-color: transparent;
}

input:focus, select:focus, textarea:focus {
    outline: none !important;
    border: 2px solid var(--page-txtColor-tint);
    background-color: var(--page-content-bgColor-hover);
}


.search-and-user ::placeholder {
    color: var(--page-txtColor-tint);
}

.search-and-user form i {
    width: 26px;
    height: 26px;
    fill: var(--page-txtColor);
}

.search-and-user form button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.search-and-user .admin-profile {
    display: flex;
    align-items: center;
}

.search-and-user .admin-profile .greeting {
    margin: 0 10px 0 20px;
}

.search-and-user .admin-profile i {
    width: 30px;
    height: 30px;
}

.search-and-user .admin-profile .notifications {
    position: relative;
}
.admin-profile
{
    float: left;
    margin-left: auto;
}

.search-and-user .admin-profile .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: var(--page-txtColor);
    background: var(--red);
}

.page-content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.page-content .grid>article {
    display: flex;
    height: 300px;
    background: var(--page-content-bgColor);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.page-content .grid>article:first-child, .page-content .grid>article:last-child {
    grid-column: 1 / -1;
}

/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
    .page-header, .page-content {
        position: static;
        width: 100%;
    }
    .page-header {
        padding: 10px;
    }
    .page-header nav {
        flex-direction: row;
    }
    .page-header .logo {
        margin: 0;
        height: 34px;
        font-size: x-small;
        padding-top: 10px;
    }
    .search-and-user input[type="search"]
    {
        background-color: var(--page-bgColor);
    }

    .page-header .toggle-mob-menu {
        display: block;
    }
    .page-header .admin-menu {
        position: absolute;
        left: 98px;
        top: 57px;
        margin-top: 0;
        z-index: 2;
        border-radius: var(--border-radius);
        background: var(--page-content-bgColor);
        visibility: hidden;
        opacity: 0;
        transform: scale(0.95);
        transition: all 0.2s;
    }
    .page-header .admin-menu li:nth-last-child(2) {
        margin-bottom: 12px;
    }
    .page-header .admin-menu li:last-child, .search-and-user .admin-profile .greeting {
        display: none;
    }
    .page-content {
        min-height: 0;
        padding: 10px;
    }
    .page-content .grid {
        grid-gap: 10px;
    }
    .search-and-user {
        position: absolute;
        left: 131px;
        top: 10px;
        padding: 0;
        grid-column-gap: 5px;
        width: calc(100% - 141px);
        border-radius: var(--border-radius);
        background: transparent;
    }
    .search-and-user input[type="search"] {
        font-size: 1rem;
        height: 35px;
    }
    .search-and-user form i {
        width: 18px;
        height: 18px;
    }
    .search-and-user .admin-profile i {
        fill: var(--page-txtColor);
    }
}

@media screen and (max-width: 400px) {
    .page-content .grid>article {
        grid-column: 1 / -1;
    }
}

/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mob-menu-opened .toggle-mob-menu i {
    transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    border-style: solid;
    border-width: 2px;
    border-color: var(--page-txtColor-tint);
}

@media screen and (min-width: 768px) {
    .collapsed .page-header {
        width: 40px;
    }
    .collapsed .page-header .admin-menu li>* {
        padding: 10px 0;
    }
    .collapsed .page-header .logo, .collapsed .page-header .admin-menu span, .collapsed .page-header .admin-menu .menu-heading {
        display: none;
    }
    .collapsed .page-header .admin-menu i {
        margin-right: 0;
    }
    .collapsed .page-header .collapse-btn i {
        transform: rotate(90deg);
    }
    .collapsed .page-content {
        left: 40px;
        width: calc(100% - 40px);
    }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-footer {
    font-size: 0.85rem;
    text-align: right;
    margin-top: 10px;
}

.page-footer span {
    color: var(--red);
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.table-wrapper
{
    grid-column: 1 / span 12;
}

table
{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption
{
    margin: 1rem;
    font-weight: bold;
}

table tr {
    border-bottom: 2px solid var(--page-txtColor-tint);
    padding: .35em;
  }
thead tr {
    background-color:  var(--page-bgColor);
    padding: .35em;
  }
  tbody tr:hover{
      background-color: var(--page-content-bgColor-hover);
  }

table th,
table td {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

table th {
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .submit-btn
{
    margin-top: 1.5rem;
    background: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.15em;
    font-size: 18px;
    color: var(--page-bgColor);
    padding: 0;
}
.add-student-body div form{
    display: grid;
    grid-gap: 10px;
}


.card
{
    background-color: var(--page-content-bgColor);
    border-radius: var(--border-radius);
    padding: 2rem;
}

.page-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: 100vh;
}

.form-wrapper
{
    grid-column: 5 / span 4;
    margin-bottom: auto;
}


.card-fluid{
    background-color: var(--page-content-bgColor);
    border-radius: var(--border-radius);
    margin: .5rem
}

.card-fluid:hover, .card-fluid:focus{
    box-shadow: var(--card-shadow);
}

.card-body
{
    margin: 1rem;
}

@media screen 
  and (max-width: 1600px)  { 
    .form-wrapper{
        grid-column: 4 / span 6;
    }
    
}

@media screen 
and (max-width: 1024px)  {
    
    .form-wrapper{
        grid-column: 3 / span 8;
    }

    
}

@media screen 
  and (max-width: 736px) { 

    .form-wrapper{
        grid-column: 2 / span 10;
    }
    
}

@media screen 
and (max-width: 480px){
    .form-wrapper{
        grid-column: 1 / span 12;
    }
    .card
    {
        padding: 2rem .5rem;
    }
}

