@page "/addstudent"
@using cam.Models
@using cam.Services
@inject NavigationManager NavigationManager
@inject IStudentService studentRepo
@inject IClassService classRepo

<section class="page-body">
    <div class="form-wrapper card">
        <EditForm Model="@student" OnValidSubmit="SaveStudent">
            <DataAnnotationsValidator />

            <h2 class="title-1">Register a student</h2>

            <label class="label-1" for="ename">영어 이름<small>*</small></label>
            <input type="text" id="ename" required @bind="student.EnglishName" placeholder="Sarah">

            <label class="label-1" for="kname">한국어 이름<small>*</small></label>
            <input type="text" id="kname" required @bind="student.KoreanName" placeholder="홍길동">

            <label class="label-1" for="phone">전화번호<small>*</small></label>
            <input type="tel" id="phone" pattern="[0-9]{3}(\-\s)?[0-9]{4}(\-\s)?[0-9]{4}" required @bind="student.Phone" placeholder="010 1234 5678">

            <label class="label-1" for="address">주소</label>
            <input type="address" id="address" @bind="student.Address" placeholder="신도림동 현대 아파트" required>

            <label class="label-1" for="school-name">학교 이름<small>*</small></label>
            <input type="text" id="school-name" required @bind="student.SchoolName" placeholder="신도림 초등학교">

            <label class="label-1" for="school-name">학년<small>*</small></label>
            <input type="numeric" id="school-name" required @bind="student.Grade" placeholder="3" max="12" min="1">


            <label class="label-1" for="level">레벨<small>*</small></label>
            <select type="text" id="level" @bind="student.Level" placeholder="Primary 1" required>
                <option >Select ...</option>
                @foreach (var level in levels)
                {
                    <option value=@level>@level</option>
                }
            </select>

            <label class="label-1" for="class">클래스 선택<small>*</small></label>
            <select type="text" id="class" @bind="student.ClassId" placeholder="클래스 선택" required>
                <option >Select ...</option>
                @foreach (var c in classes)
                {
                    <option value=@c.Id>@c.Name</option>
                }
            </select>
            <button type="submit" class="submit-btn">
                Submit
            </button>
        </EditForm>
    </div>
</section>

@code{
    List<string> levels = new List<string>(){"Primary 1", "Primary 2", "Primary 3", "Primary 4", "Primary 5", "Primary 6"};
    Student student = new Student();

    List<Class> classes = new List<Class>();
    
    protected override async Task OnInitializedAsync()
    {
        classes = await classRepo.Get();
        StateHasChanged();
    }
    private void SaveStudent()
    {
        Save(student);
    }

    private async void Save(Student student)
    {
        await studentRepo.Insert(student);
        NavigationManager.NavigateTo("/students", false);
    }

}