@page "/classes"
@using cam.Models
@using cam.Services
@inject NavigationManager NavigationManager
@inject IStudentService studentRepo

<section class="page-body">
    <div class="card-fluid">
        <h2 class="title-1">Unassigned</h2>
    </div>
</section>