@page "/"

<section class="grid">
    <article><Embed></Embed></article>
    <article><Embed Src="https://youtube.com/embed/1ES9DOdIUso"></Embed></article>
    <article><Embed Src="https://cafe.naver.com/bluexy3z6/798"></Embed></article>
    <article><Embed Src="https://cafe.naver.com/bluexy3z6/798"></Embed></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
</section>