<li class="menu-heading">
    <h3 class="label-1">Classes & rooms</h3>
</li>

<li>
    <a href="/classes">
        <i class="fas fa-chalkboard-teacher"></i>
        <span>Classes</span>
    </a>
</li>
<li>
    <a href="/rooms">
        <i class="fas fa-house-user"></i>
        <span>Rooms</span>
    </a>
</li>
