<li class="menu-heading">
    <h3 class="label-1">Classrooms</h3>
</li>

<li>
    <a href="#0">
        <i class="fas fa-chalkboard-teacher"></i>
        <span>Classrooms</span>
    </a>
</li>
<li>
    <a href="#0">
        <i class="fas fa-plus"></i>
        <span>Add a room</span>
    </a>
</li>