<footer class="page-footer">
    <small>Made with <span>❤</span> by 
        <a href="http://github.com/wahid-d" target="_blank">
            <strong>Wahid David </strong>
        </a>
    </small>
</footer>