

<header class="page-header">
    <nav>
        <a href="#0" >
            <i class="fas fa-pen-nib fa-3x logo"><span>wd</span></i>
        </a>
        
        <ToggleLink></ToggleLink>
        <ul class="admin-menu">
            <ClassLink></ClassLink>
            <StudentLink></StudentLink>
            <CollapseLink></CollapseLink>
        </ul>
    </nav>
</header>

