

<header class="page-header">
    <nav>
        <a href="#0" style="text-align: center;">
            <i class="fas fa-university fa-3x logo">&#09;<span>CES</span></i>
        </a>
        
        <ToggleLink></ToggleLink>
        <ul class="admin-menu">
            <ClassLink></ClassLink>
            <StudentLink></StudentLink>
            <ReportsLink></ReportsLink>
            <CollapseLink></CollapseLink>
        </ul>
    </nav>
</header>

