<li class="menu-heading">
    <h3 class="label-1">Monthly Report</h3>
</li>

<li>
    <a href="/reports">
        <i class="fas fa-file-contract"></i>
        <span>Reports</span>
    </a>
</li>
<li>
    <a href="/notifications">
        <i class="fas fa-bullhorn"></i>
        <span>Notifications</span>
    </a>
</li>