<li class="menu-heading">
    <h3 class="label-1">Students</h3>
</li>

<li>
    <a href="/students">
        <i class="fas fa-users"></i>
        <span>All</span>
    </a>
</li>
<li>
    <a href="/addstudent">
        <i class="fas fa-user-plus"></i>
        <span>Add</span>
    </a>
</li>
